<div class="container">
    <div class="content">
        <h2>Contact Us Page</h2>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi pariatur a saepe, accusamus quibusdam rem
            repudiandae atque! Eius iste quia recusandae quaerat voluptatum fuga a. Aliquid obcaecati similique
            recusandae.
            Amet.</p>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <img [src]="image3" alt="Contact Image">
        </div>
        <div class="col-md-6 form-col">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputName1" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="exampleInputName1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Accept Terms & Condition</label>
                </div>
                <button type="submit" class="btn btn-primary" style="color: white !important;">Submit</button>
            </form>
        </div>
    </div>
</div>