<div class="container bg-primary" data-bs-theme="dark">
    <footer class="py-3 mt-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-muted">Link 1</a></li>
            <li class="nav-item"><a routerLink="/about" class="nav-link px-2 text-muted">About Us</a></li>
            <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-white">Home</a></li>
            <li class="nav-item"><a routerLink="/contact" class="nav-link px-2 text-muted">Contact Us</a></li>
            <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-muted">Link 1</a></li>
        </ul>
        <p class="text-center text-muted">©2024 Pratham Joshi</p>
    </footer>
</div>